/* Empty. Add your own CSS if you like */
.questionaire{
	text-align: center;
	vertical-align: inline-block;
}

.questionaire select {
	width: 100%;
	background-color: rgba(255, 255,255, 0.6);
	border-radius: 2px;

}
.questionaire button {
	width: 100%;
		background-color: rgba(234, 105,126, 0.9);

}
.question{
	background-color: #DEB9BF;
	border-radius: 2px;
	font-style: bold;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-bottom: 10px;
	min-height: 40px;
}
.orange{
	background-color: #E16135;
	color: white;
	text-align: center;
}
.or{
	background-color: #EA9071;
	color: white;
	text-align: center;
}
.o{
	background-color: #B5E135;
	color: white;
	text-align: center;
}
.bl{
	background-color: #8A68A0;
	color: white;
	text-align: center;
}
.bl1{
	background-color: #AD95BC;
	color: white;
	text-align: center;
}
.item {
	font-size: 15px;
}
h6 {
	text-align: center;
	color: #124861;
	font-family: "wmMensch";
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}

h3{
	text-align: center;
	color: green;

}
h4{
	text-align: center;
	font-weight: bold;
	color: #1E78A3;
}