<ion-view view-title=Ciconia name=calendar-view>
  <ion-content class=padding> 
<h4>Félicitation Valérie ! <br/>Vous en êtes à votre <span ng-bind="nbSemaine"></span>
semaines de grossesse aujourd'hui !</h4>
<h4>Vous devriez accoucher le <span ng-bind="terme"></span></h4>
<br/>
<h6>Votre calendrier</h6>

<div class=avenir ng-if="FiabiliteTestTimestamp > today">
  <h4>Fiabilité du test de grossesse à partir du:
  <span ng-bind=FiabiliteTestDate></span></h4>
  <span ng-bind=FiabiliteTestDetail></span>
</div>
<div class="passe" ng-if="FiabiliteTestTimestamp < today">
  <h4>Votre test de grossesse est fiable depuis le:
  <span ng-bind=FiabiliteTestDate></span></h4>
  <span ng-bind=FiabiliteTestDetail></span>
</div>

<div class="avenir" ng-if="FirstConsultFinTimestamp > today">
  <h4>Votre première consultation doit être réalisé entre le 
  <span ng-bind="FirstConsultDebutDate"></span>
 et le 
 <span ng-bind="FirstConsultFinDate"></span></h4>
 <span ng-bind="FirstConsultDetail"></span>
</div>
<div class="passe" ng-if="FirstConsultFinTimestamp < today">
<h4>  Votre première consultation à été réalisé le "inserer la date quand on stock les données"
 <span ng-bind="FirstConsultFinDate"></span></h4>
 <span ng-bind="FirstConsultDetail"></span>
</div>

<div class="avenir" ng-if="FirstEchoFinTimestamp > today">
  <h4>Votre première consultation doit être réalisé entre le 
  <span ng-bind="FirstEchoDebutDate"></span>
 et le 
 <span ng-bind="FirstEchoFinDate"></span></h4>
 <span ng-bind="FirstEchoDetail"></span>
</div>
<div class="passe" ng-if="FirstEchoFinTimestamp < today">
<h4>  Votre première consultation à été réalisé le "inserer la date quand on stock les données"
 <span ng-bind="FirstEchoFinDate"></span></h4>
 <span ng-bind="FirstEchoDetail"></span>
</div>
      $rootScope.SecondEchoDebut 
      $rootScope.ThirdEntretienPrenatalDebut = 
      $rootScope.diabeteDebut 
      $rootScope.QuatriemeEntretienPrenatalDebut 
      $rootScope.CinquiemeEntretienPrenatalDebutDate = 
      $rootScope.TroisiemeEchoDebut = new Date($rootScope.DebutGrossesse.getTime() + 1.71072e+10);
      $rootScope.SixiemeEntretienPrenatalDebutTimestamp 
      $rootScope.ConsultationAnesthesisteDebutDate = 
      $rootScope.SeptiemeEntretienPrenatalDebutDate = 


<div class="avenir" ng-if="SecondConsultFinTimestamp > today">
  <h4>Votre seconde consultation doit être réalisé entre le 
  <span ng-bind="SecondConsultDebutDate"></span>
 et le 
 <span ng-bind="SecondConsultFinDate"></span></h4>
 <span ng-bind="SecondConsultDetail"></span>
</div>
<div class="passe" ng-if="SecondConsultFinTimestamp < today">
  <h4>  Votre seconde consultation à été réalisé le "inserer la date quand on stock les données"
 <span ng-bind="SecondConsultFinDate"></span></h4>
 <span ng-bind="SecondConsultDetail"></span>

</div>
<div class="avenir" ng-if="BilanBuccoTimestamp > today">
  <h4>Bilan buccodentaire à partir du
  <span ng-bind=BilanBuccoDate></span>
  </h4>
  <span ng-bind="BilanBuccoDetail"></span>
</div>
<div class="passe" ng-if="BilanBuccoTimestamp > today">
  <h4>Bilan buccodentaire à partir du
  <span ng-bind=BilanBuccoDate></span>
  </h4>
  <span ng-bind="BilanBuccoDetail"></span>
  

</div>
<div class="avenir" ng-if="">
  

</div>
<div class="passe" ng-if>
  

</div>
<div class="avenir" ng-if="">
  

</div>
<div class="passe" ng-if>
  

</div>




  </ion-content>
  </ion-view>
