<ion-view view-title=Ciconia name=calendar-view>
  <ion-content class=padding> 
<h4>Félicitation Valérie ! <br/>6 semaines de grossesse aujourd'hui !</h4>
<h4>Vous devriez accoucher le 8 aout 2017</h4>
<br/>
<h6>Votre calendrier de risque</h6>
<ion-list>
  <ion-item class="orange">
Fin de risque de fausse couche<br/>
 le 15 janvier 2017
  </ion-item>
    <ion-item class="or">

Votre Bébé sera viable <br/>à partir du 15 avril 2017
  </ion-item>
    <ion-item class="o">
Votre bébé peut naître sans complication <br />à partir du 6 juillet 2017
  </ion-item>
</ion-list>
<h6>Calendrier de grossesse</h6>
<ion-list>
  <ion-item class="bl">
Congé maternité du 25 juin au 15 octobre
  </ion-item>
    <ion-item class="bl1">
Vous pouvez prendre l'avion jusqu'au <br />
1er juin 2017
  </ion-item>
</ion-list>
  </ion-content>
  </ion-view>
