<ion-view view-title=Ciconia>
  <ion-content class=padding> 
<div class="list">
<form name="forme" ng-submit="submit(ghq_a, ghq_b, ghq_c, ghq_d, ghq_e, ghq_f, ghq_g, ghq_h, ghq_i, ghq_j, ghq_k, ghq_l, ghq_m, ghq_n, ghq_o, ghq_p, ghq_q, ghq_r, ghq_s, ghq_t, ghq_u, ghq_v, ghq_w, ghq_x, ghq_y, ghq_z, ghq_za, ghq_zb)" novalidate="">
<div class="questionaire">
<div class="question">
    <label>
      Vous êtes-vous senti(e) parfaitement bien et en bonne santé ?
    </label>
    <select ng-model="ghq_a">
	    <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
   </div>
<div class="question">
  <label>
      Avez-vous éprouvé le besoin d'un bon remontant ?
  </label>
    <select ng-model="ghq_b">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
  </div>
  <div class="question">
    <label>
        Vous êtes vous senti(e) à plat et pas dans votre assiette ("mal fichu(e)") ?
    </label>
    <select ng-model="ghq_c">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>
    <div class="question">
    <label>
     Vous êtes vous senti(e) malade ?
      </label>
      <select ng-model="ghq_d">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>
        <div class="question">
    <label> Avez-vous eu des douleurs à la tête ?</label>
    <select ng-model="ghq_e">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>
    <div class="question">

  <label>    Avez-vous eu une sensation de serrement ou de tension dans la tête ?</label>
    <select ng-model="ghq_f">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>
        <div class="question">

  <label>
 Avez-vous eu des bouffées de chaleur ou des frissons ?
<br></label>
    <select ng-model="ghq_g">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
   Avez-vous manqué de sommeil à cause de vos soucis ?
<br/></label>   <select ng-model="ghq_h">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
   Avez-vous eu de la peine à rester endormi(e) ?</label>
    <select ng-model="ghq_i">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
   Vous êtes-vous senti(e) constamment tendu(e) ou "stressé(e)" ?
</label>
<select ng-model="ghq_j">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
   Vous êtes-vous senti(e) irritable et de mauvaise humeur ?
<br/></label>
 <select ng-model="ghq_k">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
   Avez-vous été effrayé(e) et pris(e) de panique sans raison valable ?
</label>
<select ng-model="ghq_l">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

      <label>
   Vous êtes-vous senti(e) dépassé(e) par les évènements ?</label>
    <select ng-model="ghq_m">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

     <label>
   Vous êtes-vous senti(e) continuellement énervé(e) ou tendu(e) ?
<br></label>
    <select ng-model="ghq_n">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">
    <label>
    Avez-vous réussi à rester actif(ve) et occupé(e) ?</label>
    <select ng-model="ghq_o">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
   Avez-vous mis plus de temps à faire les choses habituelles ?</label>
    <select ng-model="ghq_p">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
      Avez-vous eu le sentiment que dans l'ensemble vous faisiez bien les choses ?</label>
    <select ng-model="ghq_q">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
      Avez-vous été satisfait(e) de la façon dont vous avez fait votre travail ?</label>
    <select ng-model="ghq_r">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
   Avez-vous eu le sentiment de jouer un rôle utile dans la vie ?</label>
    <select ng-model="ghq_s">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
Vous êtes-vous senti(e) capable de prendre des décisions ?
<br></label>
    <select ng-model="ghq_t">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
  Avez-vous été capable d'apprécier vos activités quotidiennes normales ?
</label>
    <select ng-model="ghq_u">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
  Vous êtes-vous considéré(e) comme quelqu'un qui ne valait rien ?</label>
    <select ng-model="ghq_v">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
   Avez-vous eu le sentiment que la vie est totalement sans espoir ?</label>
    <select ng-model="ghq_w">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
Avez-vous eu le sentiment que la vie ne vaut pas la peine d'être vécue ?
<br></label>
 <select ng-model="ghq_x">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
Avez-vous pensé à la possibilité de vous supprimer ?</p>
</label>
    <select ng-model="ghq_y">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">

  <label>
Avez-vous pensé que parfois vous n'arriviez à rien parce que vos nerfs étaient à bout ?</label>
    <select ng-model="ghq_z">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>    <div class="question">

  <label>
Vous est-il arrivé de souhaiter être mort(e) et loin de tout ça ?</label>
    <select ng-model="ghq_za">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
</div>    <div class="question">


    <label>
Est-ce que l'idée de vous supprimer réapparaissait continuellement dans votre esprit ? </label>
<select ng-model="ghq_zb">
    <option selected></option>
      <option value="0">Mieux que d'habitude </option>
      <option value="1">Comme d'habitude</option>
      <option value="2">Moins bien que d'habitude</option>
      <option value="3">Beaucoup moins bien que d'habitude</option>
    </select>
    </div>   

  <button type="Submit">Submit</button>
</form>
</div>
  </ion-content>
</ion-view>
