<ion-view view-title=Ciconia name=calendar-view>
  <ion-content class=padding> 

<h4 ng-if="Toxo == 0">Vous n'êtes pas immunisée contre la Toxoplasmose</h4>
<h4 ng-if="Toxo == 2">Il est imperatif de savoir si vous etes imunisé contre la toxo</h4>

<br/>
<h6>Certains aliments sont à éviter</h6>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">

    <input type="search" placeholder="Rechercher un aliment">
  </label>
  <i class="icon ion-ios-search-strong"></i>
</div>
<h6>Les habitudes à adopter</h6>
<ion-list>
  <ion-item>
Pas de contact avec les excréments de chat
  </ion-item>
    <ion-item>
Lavez les légumes, les fruits et les herbes aromatiques
  </ion-item>
    <ion-item>
Mangez la viande bien cuite
  </ion-item>
</ion-list>
<h6>Les idées recues</h6>
<ion-list>
  <ion-item>
Vous pouvez carresser les chats
  </ion-item>
    <ion-item>
Inutile de laver vos légumes au vinaigre et Javel
  </ion-item>
    <ion-item>
Foie Gras autorisé
  </ion-item>
</ion-list>
  </ion-content>
  </ion-view>
